@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-gray: #333;
    --dark-blue: #05164c;
    --color-one: --dark-blue;
    --color-two: --dark-gray;
    --icon-link: #3849b7;
    --icon-link-hover: #6b7be1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-family: Domine, serif;
    margin: 2.5rem 0 0 0;
    font-size: 0.85rem;
}

h1 {
    font-family: Domine, serif;
    font-size: clamp(2rem, 10vw, 5rem);
    margin: 1rem 0 0 0;
}

.hero {
    height: 20vh;
    border: #333 solid 2px;
}

section {
    margin: 2.5rem 0;
    font-family: Domine, serif;
}

section > ul {
    font-family: Inter, sans;
}

section ul li {
    display: flex;
    align-items: center;
}

.quiet-icon {
    font-size: 1.225rem;
    color: var(--icon-link);
    cursor: pointer;
    padding-left: 0.25rem;
}

.quiet-icon:hover {
    color: var(--icon-link-hover);
    transform: scale(109%);
}

.club-logos {
    display: none;
}

#verses {
    background: azure;
    padding: 1rem;
    border-radius: 20px;
    font-family: Inter, sans;
    width: 82%;
    font-size: 0.8rem;
    margin: 2.5rem 0;
}

#verse-ref {
    text-align: right;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.5rem ;
}

aside {
    background: -webkit-linear-gradient(var(--dark-gray), var(--dark-blue));
    background: linear-gradient(var(--dark-gray), var(--dark-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small {
    font-size: 0.75rem;
}

aside > h3 {
    color: azure;
    font-family: Inter, sans;
}

#arrl {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

#arrl > p > a {
    color: white;
    font-weight: bold;
}

#time-day {
    color: rgb(129, 156, 255)
}

#arrl-details {
    color: rgb(98, 248, 153)
}

#paddle-zone {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background: #222;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.indicator {
    padding: 1rem;
    border: 2px solid #888;
    width: 80px;
    text-align: center;
    transition: 0.1s all ease-in-out;
}

  .active {
    background-color: rgb(140, 243, 251);
    color: black;
    border-color: rgb(49, 164, 206);
}

.keyer-setting-label {
    color: rgb(8, 144, 193);
}

.letters, .numbers-symbols {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.cw-decoded {
    margin-left: 0.75rem;
}

.band-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 6rem 0;
}

.band-conditions > a > img:not(.exclude) {
    width: 90vw;
}

#muf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

#muf > img {
    width: 95%;
}

footer {
    min-height: 8vh;
    margin-top: 4rem;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(var(--dark-gray), var(--dark-blue));
    background: linear-gradient(var(--dark-gray), var(--dark-blue));
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links > a {
    color: inherit;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}

.footer-links > a + a {
    margin-left: 2rem;
}

.pota {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.pota > h2 {
    font-size: 1.1rem;
}

.cards {
    padding: 2rem 0;
    width: 70%;
    font-size: 0.9rem;
}

.card {
    width: 100%;
}

.card + .card {
    margin-top: 1.5rem;
}

.card-header {
    display: flex;
    justify-content: space-around;
    font-family: Inter, sans;
}

.card-info-row, .card-state-row, .card-frequency-row, .card-utc-row {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 0.5rem;
}

.pota-png {
    height: 0.9rem;
    filter:brightness(2);
}

.card-footer {
    font-family: Poppins, sans;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.spinner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
.spinner img {
    aspect-ratio: 1;
    width: 30%;
    display: block;
    filter: invert();
}

.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out infinite both;
	        animation: rotate-center 1s ease-in-out infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 760px) {
    body {
    display: flex;
}

main {
    width: 70vw;
    margin-bottom: 12rem;
}

    .hero {
        height: 40vh;
    }

    .club-logos {
        display: flex;
        gap: 1.5rem;
        margin: 0;
    }

    .club-logos img {
        aspect-ratio: 1/1.2;
        width: clamp(5vw, 75px, 10vw);
    }

    #naqcc-banner {
        aspect-ratio: 6/1;
        width: 240px;
    }

    .cw-player {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cw-player p {
        font-size: 0.85rem;
    }

    .oscillator {
    width: 80%;
}

.letters, .numbers-symbols {
    font-size: 1.1rem;
    width: 67%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

    .letters-details, .numbers-symbols-details {
        margin-top: 3rem;
    }

    summary {
        font-size: 1.3rem;
    }

    .band-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 6rem 0;
}

.band-conditions > a > img:not(.exclude) {
    width: 50vw;
}

aside {
    width: 30vw;
    background: -webkit-linear-gradient(var(--dark-gray), var(--dark-blue));
    background: linear-gradient(var(--dark-gray), var(--dark-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
}
  