#media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
    }

    #media-container h2 {
        font-size: 2.25rem;
        margin-top: 2rem;
    }

    #media-container article {
        width: 80%;
        display: flex;
        flex-direction: column;
    }
    #media-container article h3{
        font-family: Domine, serif;
        color:#222;
        width: 100%;
        margin: 0 auto;
        font-size: 1.5rem;
        padding: 0.75rem;
        background: var(--dark-gray);
        color: #fff;
    }
    #media-container article h5 {
        
        margin-bottom: 0.25rem;
    }

    .article-meta {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0;
    }
    #media-container article p{
        width: 60ch;
        margin: 4rem 0 1.5rem 0;
        font-family: Inter, sans-serif;
        font-size: 1.1rem;
    }

    #media-container article h6 {
        font-size: 0.95rem;
        color: var(--dark-gray);
    }

    .categories-pill {
        display: inline-block;
        padding: 0.25rem 0.75rem;
        background-color: var(--icon-link);
        color: white;
        font-size: 0.75rem;
        border-radius: 9999px;
    }

    .article-end {
        content: "";
        height: 2px;
        width:50%;
        background-color: var(--dark-gray);
        margin: 4rem auto 3rem auto;
    }

.article-content {
  margin: 0 auto;
}

.media-img {
  max-width: 80ch;
  height: auto;
  margin: 1em 0;
}