@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --dark-gray: #333;
    --dark-blue: #05164c;
    --dark-green: rgb(41, 235, 112);
    --light-blue: rgb(140, 243, 251);
    --color-one: --dark-blue;
    --color-two: --dark-gray;
    --icon-link: #3849b7;
    --icon-link-hover: #b7c7e6;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85vw;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-family: Domine, serif;
    font-size: 0.85rem;
}

h1 {
    font-family: Domine, serif;
    font-size: clamp(2rem, 10vw, 5rem);
    margin: 0;
    user-select: none;
    cursor: pointer;
}

.callsign-phonetic { font-family: monospace; font-size: 0.8rem; font-weight: bold; }
    
.callsign-phonetic + .callsign-phonetic { padding-top: 0.75rem; }
.custom { color: var(--icon-link); }
.cw-call { font-size: 1.15rem; }

#hero-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hero {
    margin-top: 1rem;
    height: 20vh;
    border: #333 solid 2px;
}

#about {
    margin-top: 1rem;
}

.img-wrapper {
width: 80%;
    margin: 1rem auto
}

#about img {
    width: 100%;
    border: solid 2px #999;
}

section {
    font-family: Domine, serif;
}

section > ul {
    font-family: Inter, sans;
}

section ul li {
    display: flex;
    align-items: center;
}

.sl-icon {
    font-size: 1.225rem;
    color: var(--icon-link);
    cursor: pointer;
    padding-left: 0.25rem;
}

.sl-icon:hover {
    color: var(--icon-link-hover);
    transform: scale(109%);
}

.club-logos {
    display: none;
}

.dit-dah-explainer {
    display: flex;
    background-color: var(--light-blue);
    font-size: 0.85rem;
    justify-content: space-between;
    padding: 0 0.75rem;
}
.dit-dah-explainer p + p {
    margin-left: 0.75rem;
}

sl-radio-group {
    margin-top: 1rem;
}

.font-size-2 { font-size: 1.25rem;}

#verses {
    background: azure;
    padding: 1rem;
    border-radius: 20px;
    font-family: Inter, sans;
    width: 82%;
    font-size: 0.8rem;
    margin: 2.5rem 0;
    color: black;
}

#verse-ref {
    text-align: right;
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.5rem ;
}

aside {
    background: -webkit-linear-gradient(var(--dark-gray), var(--dark-blue));
    background: linear-gradient(var(--dark-gray), var(--dark-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small {
    font-size: 0.75rem;
}

aside > h3 {
    color: azure;
    font-family: Inter, sans;
}

#arrl {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

#arrl > p > a {
    color: white;
    font-weight: bold;
}

#time-day {
    color: var(--light-blue)
}

#arrl-details {
    color: var(--dark-green);
}

#paddle-zone {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background: #222;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.indicator {
    padding: 1rem;
    border: 2px solid #888;
    width: 80px;
    text-align: center;
    transition: 0.1s all ease-in-out;
}

  .active {
    background-color: rgb(140, 243, 251);
    color: black;
    border-color: rgb(49, 164, 206);
}

.keyer-setting-label {
    color: rgb(8, 144, 193);
}

.letters, .numbers-symbols {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.cw-character { position: relative; cursor: pointer; }

.cw-character::before {
    content: attr(data-label);
    position: absolute;
    width: 100%;
    height: fit-content;
    background-color: #333;
    color: white;
    top: 30;
    right: 50;
    font-size: 1.15rem;
    display: none;
}

.cw-character:hover::before { display: flex; align-items: center; }

.cw-decoded {
    margin-left: 0.75rem;
}

.band-conditions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 1rem 0 6rem 0;
}

.band-conditions > a > img:not(.exclude) {
    width: 90vw;
}

#muf {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }

#muf > img {
    width: 95%;
}

footer {
    min-height: 8vh;
    margin-top: 4rem;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-blue)
}

#footer-left img{
    width: clamp(125px, 20vw, 350px);
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links ul { list-style: none; }

.footer-links ul li {
    padding: 0.5rem 0.2rem;
}
.footer-links ul li a {
    color: inherit;
    text-decoration: none;
    font-family: Poppins, sans-serif;
}
.footer-links ul li:hover {
    background-color: #b7c7e6;
    color: var(--dark-blue);
}
#rights {
    background-color: var(--dark-blue);
    color: white;
    font-size: 0.75rem;
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
}


@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (min-width: 760px) {
    header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
}

nav {
    width: 100%;
    background-color: var(--dark-gray);
}

nav ul{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
}

nav ul li a {
    font-family: Poppins, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 1rem;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--icon-link-hover);
}

main {
    width: 70vw;
    margin-bottom: 4rem;
}

#index-main {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: unset;
    margin-top: 2rem;
    padding-top: 3rem;
}

#index-main #left-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 45%;
}
#index-main #right-wrapper {
    width: 55%;
}

    .hero {
        height: 40vh;
    }

    #about {
        width: 70%;
        margin: 0 auto 0.75rem auto;
        font-family: Inter, sans-serif;
        font-size: 0.9rem;
    }

    #about h2 {
        padding-bottom: 1rem;
    }

    .bio {
        margin-bottom: 2rem;
    }

    .club-logos {
        display: flex;
        gap: 1.5rem;
        margin: 0;
        flex-wrap: wrap;
    }

    .club-logos img {
        aspect-ratio: 1/1.2;
        max-width: 8vw;
        flex-basis: 25%;
    }

    #naqcc-banner {
        aspect-ratio: 4/1;
        min-width: 400px;
    }

    #cw-main {
        width: 70vw;
        margin-bottom: 8rem;
        display: flex;
        justify-content: center;
    }

    #sidetone-waveform {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        margin: 1rem auto;
        gap: 1rem;
    }

    .settings-panel {
        width: 60%;
        margin: 0 auto;
    }

    sl-input[type="range"]:hover::part(input) {
  cursor: pointer;
}

    .cw-player {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cw-player p {
        font-size: 0.85rem;
    }

    .oscillator {
    width: 80%;
    margin: 2.5rem 0;
}

#conditions-main {
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#solar-data-explainer, #muf-data-explainer {
    width: 70ch;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    font-size: 0.9rem;
    display: flex;
    gap:1rem;
}

#contact-form {
    margin-top: 3rem;
}

.font-size-2 { font-size: 2rem;}

.letters, .numbers-symbols {
    font-size: 1.1rem;
    width: 87%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

    .letters-details, .numbers-symbols-details {
        margin-top: 3rem;
    }

    summary {
        font-size: 1.3rem;
    }

.band-conditions > a > img:not(.exclude) {
    width: 50vw;
}

aside {
    width: 30vw;
    background: -webkit-linear-gradient(var(--dark-gray), var(--dark-blue));
    background: linear-gradient(var(--dark-gray), var(--dark-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

footer {
    width: 100%;
    min-height: 20vh;
    margin-top: 0;
    flex-direction: row;
    padding: 2rem 0;
    }

    #footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 35%;
    }
    #footer-socials {
        margin-top: 2rem;
        display: flex;
        gap: 1.25rem;
    }

    #footer-socials a sl-icon {
        font-size: 1.75rem;
        color: white;
        transition: all 0.25s ease-in-out;
    }
    #footer-socials a sl-icon:hover {
        color: var(--icon-link-hover);
        transform: scale(1.2);
    }

    #footer-center {
        flex-basis: 35%;
    }

    #arrl { margin-top: 4rem; }
}
  